<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="springQuiz" class="IOC.quiz.SpringQuizMaster"></bean>
    <bean id="strutsQuiz" class="IOC.quiz.StrutsQuizMaster"></bean>
    <bean id="quizService" class="IOC.service.QuizServiceUsingDI">
        <property name="quizMaster" ref="strutsQuiz">
        </property>
    </bean>
</beans>